<div class="container">
    <div class="row">
        <div class="agile-info_w3ls third hvr-buzz-out">
            <h3>Reset Password</h3>
            <div class="agile-info_w3ls_grid third">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <input type="email" name="email" ng-model="reset.email"
                        required placeholder="Enter your email address" class="form-control">
                    </div>
                    <button type="submit">Send Password Reset Link</button>
                </form>
            </div>
        </div>
    </div>
</div>
